body {
    background-color:black;
    margin: 18%;
}
#title {
    color: rgb(241, 241, 243);
    text-align: center;
    text-shadow: 5px 5px 10px black;
    font-size: 7vh;
}
#born{
    color:gray
}
img {
    display: inline-block;
    width: 100%;
}
#caption {
    font-size:25px ;
    text-align: center;
    color: rgb(118, 111, 111);
}
div#data {
    background-color: rgba(100, 100, 100, 0.25);
    box-shadow: 10px 10px 10px white;
    font-family: Georgia;
    padding: 25px 25px;
    margin: 11px;
    margin-top: 50px;
    color: white;
}
h1.title-Martin {
    font-size: 35px;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 10px black;
}
#tribute-link {
    text-decoration: none;
    color: black;
}